# 03:00 America/Los_Angeles. sudo cp to /etc/cron.d/op-usage; edit user + path.
SHELL=/bin/bash
PATH=/usr/local/bin:/usr/bin:/bin
CRON_TZ=America/Los_Angeles
MAILTO=""

0 3 * * * debianuser /usr/bin/flock -n /tmp/op-usage.lock /home/debianuser/Openpilot_Stats/scripts/nightly.sh >> /var/log/op-usage.log 2>&1
